# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# .csvファイルを無視
Keiba/datafile/*.csv
Keiba/datafile/pred_data/*.csv

# .ideaファイルを無視
.idea/

# .__pycache__ファイルを無視
Keiba/__pycache__/

